[Unit]
Description=Cloudflare IPv6 DDNS Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ddns-ipv6
User=ddns
Group=ddns
